{% extends 'base.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block body %}
    <div class="container bootstrap snippets bootdey">
        <h1 class="text-primary">Profile</h1>
        <hr>
        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png"
                         class="avatar img-circle img-thumbnail" alt="avatar">
                    <h6>Modifier la photo de profil</h6>

                    {{ form_widget(form.photo, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.changeProfilePicture) }}
                    {{ form_widget(form.changeProfilePicture) }}
                </div>
            </div>

            <!-- edit form column -->
            <div class="col-md-9 personal-info">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                <h3>Information</h3>

                {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
                <div class="form-group">
                    {{ form_label(form.pseudo, 'Pseudo:', {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                    <div class="col-lg-8">
                        {{ form_widget(form.pseudo, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.prenom, 'Prénom:', {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                    <div class="col-lg-8">
                        {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.nom, 'Nom de famille:', {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                    <div class="col-lg-8">
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.telephone, 'Téléphone:', {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                    <div class="col-lg-8">
                        {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.mail, 'Email:', {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                    <div class="col-lg-8">
                        {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.exPassword, 'Mon mot de passe:', {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                    <div class="col-lg-8">
                        {{ form_widget(form.exPassword, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.site, 'Site:', {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                    <div class="col-lg-8">
                        {{ form_widget(form.site, {'attr': {'class': 'ui-select form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-8">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-8">
                        <a href="{{ path('app_ModifPassword') }}" class="btn btn-primary">Modifier le Mot de Passe</a>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
