{% extends 'base.html.twig' %}

{% block title %}Information du profil{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <!-- left column -->
            <div class="col-md-3 text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png"
                     class="avatar img-circle img-thumbnail" alt="avatar">
            </div>

            <!-- edit form column -->
            <div class="col-md-9 personal-info">
                <h1 class="text-primary mb-4">Profile</h1>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ userProfile.pseudo }}</h3>
                        <p class="card-text">{{ userProfile.nom }} {{ userProfile.prenom }}</p>
                        <p class="card-text">{{ userProfile.telephone }}</p>
                        <p class="card-text">{{ userProfile.mail }}</p>
                        <p class="card-text">{{ userProfile.site.nom }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
