{# templates/home/editerSortie.html.twig #}
{% extends 'base.html.twig' %}


{% block title %}{% if sortie.id is not null %}Modifier Sortie{% else %}Ajouter Sortie{% endif %}{% endblock %}

{% block body %}
    <script>
        $(document).ready(function () {
            $('#city-select').change(function () {
                var cityId = $(this).val();

                $.ajax({
                    url: "{{ path('app_get_lieu') }}",
                    type: "GET",
                    dataType: "json",
                    data: {'cityId': cityId},
                    async: true,
                    success: function (data, status, xhr) {
                        var selectbox = $('#location-select');
                        selectbox.find('option').remove();
                        $.each(data, function (i, d) {
                            $('<option>').val(d.id).text(d.name).appendTo(selectbox);
                        });
                    }
                });
            });
        });
    </script>
    <div class="container mt-4">
        <h1>{% if sortie.id is not null %}Modifier Sortie{% else %}Ajouter Sortie{% endif %}</h1>
        <div class="row">
            <div class="col-md-6">
                {{ form_start(form, {'attr': {'class': 'mt-3'}}) }}

                <div class="form-group">
                    {{ form_label(form.nom, 'Nom de la Sortie') }}
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom de la Sortie'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.dateHeureDebut, 'Date et heure de début') }}
                    {{ form_widget(form.dateHeureDebut, {'attr': {'class': 'form-control', 'placeholder': 'Date et heure de début'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.duree, 'Durée (en minutes)') }}
                    {{ form_widget(form.duree, {'attr': {'class': 'form-control', 'placeholder': 'Durée (en minutes)'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.dateLimiteInscription, 'Date limite d\'inscription') }}
                    {{ form_widget(form.dateLimiteInscription, {'attr': {'class': 'form-control', 'placeholder': 'Date limite d\'inscription'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.nbInscriptionsMax, 'Nombre maximum d\'inscriptions') }}
                    {{ form_widget(form.nbInscriptionsMax, {'attr': {'class': 'form-control', 'placeholder': 'Nombre maximum d\'inscriptions'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.infosSortie, 'Informations sur la Sortie') }}
                    {{ form_widget(form.infosSortie, {'attr': {'class': 'form-control', 'placeholder': 'Informations sur la Sortie'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.ville, 'Ville') }}
                    {{ form_widget(form.ville, {'attr': {'class': 'form-control', 'placeholder': 'Ville', 'id': 'city-select'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.lieu, 'Lieu') }}
                    {{ form_widget(form.lieu, {'attr': {'class': 'form-control', 'placeholder': 'Lieu', 'id': "location-select"}}) }}
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        {% if sortie.id is not null %}Modifier{% else %}Ajouter{% endif %}
                    </button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
