{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}

    <h1>Liste des sorties</h1>
{#    #}{# Formulaire de filtrage #}
{#    <form method="get" action="{{ path('app_home') }}">#}
{#        {{ form_start(form) }}#}

{#        {{ form_row(form.keywords) }}#}
{#        {{ form_row(form.site) }}#}
{#        {{ form_row(form.status) }}#}
{#        {{ form_row(form.startDate) }}#}
{#        {{ form_row(form.endDate) }}#}

{#        <div class="checkboxes">#}
{#            {{ form_row(form.checkbox1) }}#}
{#            {{ form_row(form.checkbox2) }}#}
{#            {{ form_row(form.checkbox3) }}#}
{#            {{ form_row(form.checkbox4) }}#}
{#        </div>#}

{#        <input type="submit" value="Filtrer">#}

{#        {{ form_end(form) }}#}
{#    </form>#}

    <a href="{{ path('app_ajouter') }}" class="btn btn-primary">Crée une sortie</a>

    <div class="row mt-4">
        {% for sortie in sortieList %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('app_sortie_view', {id:sortie.id}) }}"><h5
                                    class="card-title">{{ sortie.nom }}</h5></a>
                        <p class="card-text">Date de début: {{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</p>
                        <p class="card-text">Date de fin: {{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</p>
                        <p class="card-text">Inscrits: {{ sortie.participantsInscrits|length}}/{{ sortie.nbInscriptionsMax }}</p>
                        <p class="card-text">Etats: {{ sortie.participantsInscrits|length}}/{{ sortie.nbInscriptionsMax }}</p>
                        <p class="card-text">Inscrits: {{ sortie.participantsInscrits|length}}/{{ sortie.nbInscriptionsMax }}</p>
                        <p class="card-text">Organisateurs: {{ sortie.organisateur.pseudo}}</p>

                        {% if app.user == sortie.organisateur %}
                            <a href="{{ path('app_modifier',{id:sortie.id}) }}" class="btn btn-primary">Modifier</a>
                            {% if sortie.etat == Etat.CREATION %}
                                <a href="{{ path('app_publier', {id: sortie.id}) }}" class="btn btn-danger">Publier</a>
                            {% endif %}
                            {% if sortie.etat == Etat.OPEN %}
                                <a href="{{ path('app_annuler', {id: sortie.id}) }}" class="btn btn-danger">Annuler</a>
                            {% endif %}
                        {% elseif (app.user not in sortie.participantsInscrits) and (sortie.etat == Etat.OPEN) and ('now'|date('U') < sortie.dateLimiteInscription|date('U')) %}
                            <a href="{{ path('app_inscription',{id:sortie.id}) }}" class="btn btn-primary">S'inscrire</a>
                        {% elseif 'now'|date('U') < sortie.dateLimiteInscription|date('U') and app.user in sortie.participantsInscrits %}
                            <a href="{{ path('app_desister',{id:sortie.id}) }}" class="btn btn-danger">Se désister</a>
                        {% else %}
                            <a>Vous ne pouvez pas vous inscrire à cette sortie</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
