{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}

    <h1>Liste des sorties</h1>
    {# Formulaire de filtrage #}
    <form method="get" action="{{ path('app_home') }}">
        <label for="nom">Nom de la sortie:</label>
        <input type="text" name="nom" id="nom">

        <label for="dateDebut">Date de début:</label>
        <input type="datetime-local" name="dateDebut" id="dateDebut">

        <label for="dateDebut">Date de début:</label>
        <input type="datetime-local" name="dateDebut" id="dateDebut">

        <input type="submit" value="Filtrer">
    </form>

    <a href="{{ path('app_ajouter') }}" class="btn btn-primary">Crée une sortie</a>


    <table>
        <tbody>
        {% for sortie in sortieList %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                {%  if (app.user not in sortie.participantsInscrits) and (sortie.etat == Etat.OPEN) and ('now'|date('d/m/Y H:i') < sortie.dateLimiteInscription|date('d/m/Y H:i')) %}
                <td><a href="{{ path('app_inscription',{id:sortie.id}) }}">S'inscrire</a> </td>
                {% elseif 'now'|date('d/m/Y H:i') < sortie.dateLimiteInscription|date('d/m/Y H:i') %}
                    <td><a href="{{ path('app_desister',{id:sortie.id}) }}">Se désister</a> </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
