{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-4 mb-4">Liste des sorties</h1>

{#    #}{# Formulaire de filtrage #}
{#    <form method="get" action="{{ path('app_home') }}">#}
{#        {{ form_start(form) }}#}

{#        {{ form_row(form.keywords) }}#}
{#        {{ form_row(form.site) }}#}
{#        {{ form_row(form.status) }}#}
{#        {{ form_row(form.startDate) }}#}
{#        {{ form_row(form.endDate) }}#}

{#        <div class="checkboxes">#}
{#            {{ form_row(form.checkbox1) }}#}
{#            {{ form_row(form.checkbox2) }}#}
{#            {{ form_row(form.checkbox3) }}#}
{#            {{ form_row(form.checkbox4) }}#}
{#        </div>#}

{#        <input type="submit" value="Filtrer">#}

{#        {{ form_end(form) }}#}
{#    </form>#}



        <a href="{{ path('app_ajouter') }}" class="btn btn-primary mb-4">Créer une sortie</a>

        <div class="row">
            {% for sortie in sortieList %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ sortie.nom }}</h5>
                            <p class="card-text"><strong>Date de début:</strong> {{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</p>
                            <p class="card-text"><strong>Date de fin:</strong> {{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</p>
                            <p class="card-text"><strong>Inscrits:</strong> {{ sortie.participantsInscrits|length }}/{{ sortie.nbInscriptionsMax }}</p>

                            {% if app.user == sortie.organisateur %}
                                <a href="{{ path('app_modifier', {id: sortie.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                                {% if sortie.etat == 'CREATION' %}
                                    <a href="{{ path('app_publier', {id: sortie.id}) }}" class="btn btn-danger btn-sm">Publier</a>
                                {% elseif sortie.etat == 'OPEN' %}
                                    <a href="{{ path('app_annuler', {id: sortie.id}) }}" class="btn btn-danger btn-sm">Annuler</a>
                                {% endif %}
                            {% elseif not app.user in sortie.participantsInscrits and sortie.etat == 'OPEN' and 'now'|date('U') < sortie.dateLimiteInscription|date('U') %}
                                <a href="{{ path('app_inscription', {id: sortie.id}) }}" class="btn btn-primary btn-sm">S'inscrire</a>
                            {% elseif 'now'|date('U') < sortie.dateLimiteInscription|date('U') and app.user in sortie.participantsInscrits %}
                                <a href="{{ path('app_desister', {id: sortie.id}) }}" class="btn btn-danger btn-sm">Se désister</a>
                            {% else %}
                                <span class="text-muted">Vous ne pouvez pas vous inscrire à cette sortie</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
