{% extends 'base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-primary mb-4">Détails de la Sortie</h1>
        <div class="card">
            <div class="card-body">
                <!-- Contenu existant de votre sortie -->
                <!-- ... -->

                <h3 class="card-subtitle mb-2 text-muted">Participants Inscrits</h3>
                <table class="table table-bordered mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Nom et Prénom</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for participant in sortie.participantsInscrits %}
                        <tr>
                            <td>
                                {% if app.user == participant or app.user == sortie.Organisateur %}
                                    <a href="{{ path('app_profile_id', {'id': participant.id}) }}">{{ participant.pseudo }}</a>
                                {% else %}
                                    {{ participant.pseudo }}
                                {% endif %}
                            </td>
                            <td>{{ participant.nom }} {{ participant.prenom }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
