{% extends 'base.html.twig' %}

{% block title %}Sortir.com{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    <h1>Authentification</h1>
    <section class="vh-100">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                         class="img-fluid" alt="Phone image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <form action="{{ path('app_login') }}" method="post">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="username">Adresse mail</label>
                            <input type="email" id="username" name="_username" value="{{ last_username }}" class="form-control form-control-lg">
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="password">Mot de passes</label>
                            <input class="form-control form-control-lg"  type="password" id="password" name="_password">
                        </div>

                        <div class="d-flex justify-content-around align-items-center mb-4">
                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="remember_me" name="_remember_me" checked >
                                <label class="form-check-label" for="remember_me"> Se souvenir de moi </label>
                            </div>
{#                            <a href="#!">Forgot password?</a>#}
                        </div>
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn center btn-lg btn-block">Se connecter</button>
{#                        <div class="text-center">#}
{#                            <p>Vous n'êtes pas inscrit ?<a href="{{ path('app_register') }}" > S'inscrire</a></p>#}
{#                        </div>#}
                        <div class="text-center">
                            <p><a href="" >Mot de passes oublié</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}