{% extends 'base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-primary">Liste des Villes</h1>

        <div class="my-3">
            <a href="{{ path('app_ville_ajouter') }}" class="btn btn-primary">Ajouter une Ville</a>
        </div>

        {% if villes is not empty %}
            <table class="table">
                <thead>
                <tr>
                    <th>Nom de la Ville</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for ville in villes %}
                    <tr>
                        <td>{{ ville.nom }}</td>
                        <td>
                            <a href="{{ path('app_ville_editer', {'id': ville.id}) }}" class="btn btn-primary">Modifier</a>
                            <a href="{{ path('app_ville_supprimer', {'id': ville.id}) }}" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucune ville n'est disponible.</p>
        {% endif %}

        {# Formulaire d'ajout de ville #}
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.nom, 'Nom de la Ville') }}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
